/* Universal Styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* End Universal Styling */

/* Global Styling */
body {
  background-color: #d9dcd6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}
/* End Global Styling */

/* Utility Class Styling */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-32 {
  margin-bottom: 32px;
}

.p-10 {
  padding: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.ml-320 {
  margin-left: 320px;
}

.mr-320 {
  margin-right: 320px;
}
/* End Utility Class Styling */

.header {
  padding: 20px;
  background-color: #2a607c;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo {
  color: #d9dcd6;
}

/* Navigation Styling */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/* End Navigation Styling */

/* Hero Image Styling */
.hero {
  height: 700px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url('../images/digital-marketing-meeting.jpg');
  background-size: cover;
  background-position: 75% 25%;
}
/* End Hero Image Styling */

.content {
  width: 100%;
  display: inline;
}

.content h2 {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  color: #2a607c;
  border-bottom: 4px solid #2a607c;
  width: 50%;
  margin: auto;
}

.section-services {
  padding: 15px;
  margin: auto;
  width: 80%;
  color: #ffffff;
}

.section-services img {
  height: 250px;
  width: 300px;
}

.section-services h3 {
  font-size: 38px;
}

.section-services p {
  font-size: 22px;
  color: #d9dcd6;
  line-height: 1.5;
}

.services {
  text-align: left;
  background-color: #2a607c;
  padding: 20px 10px 0 10px;
  width: 100%;
  height: 250px;
}

.services-right {
  text-align: right;
  background-color: #2a607c;
  padding: 20px 10px 0 10px;
  width: 100%;
  height: 250px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  width: 20%;
  height: 100%;
  background-color: #2589bd;
  color: #fff;
}

.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
